{{#if (eq object.symbolId 1)}}
  München
{{/if}}

{{#if (eq object.symbolId 2)}}
  Köln
{{/if}}

{{#if (eq object.symbolId 3)}}
  Berlin
{{/if}}

<div class="object-test__buttons">
  {{#gesture-element tap='easeIn'}}
    <div class="object-test__buttons__button">easeIn</div>
  {{/gesture-element}}

  {{#gesture-element tap='easeOut'}}
    <div class="object-test__buttons__button">easeOut</div>
  {{/gesture-element}}
</div>
{{yield}}
