<div class="preview-test__button">
  {{yield}}
</div>

<div class="preview-test__hint">
  Press and Hold
</div>

{{#if preview}}
  <div class="preview-test__content">
    <h1>München</h1>
    So will ich Euch Alles eröffnen und auseinander setzen, was jener Begründer der Wahrheit und gleichsam Baumeister des glücklichen Lebens selbst darüber gesagt hat. Niemand, sagt er, verschmähe, oder hasse, oder fliehe die Lust als solche, sondern weil grosse.
  </div>
  <div class="preview-test__trigger">
    <div class="preview-test__trigger__indicator"></div>
    <div class="preview-test__trigger__label">
      Swipe down <div class="preview-test__trigger__label__small">to go to</div> Location
    </div>
  </div>
  <div class="preview-test__background"></div>
{{/if}}
