<div class="story-content__date">
  {{moment-format story.start "DD.MM.YYYY" locale='de'}} - {{moment-format story.end "DD.MM.YYYY" locale='de'}}
</div>
<h1 class="story-content__title">
  {{story.title}}
</h1>
<div class="story-content__description">
  {{story.description}}
</div>