<div class="time-line__slider">
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
  <div class="time-line__slider__item"></div>
</div>