<div class="time-line__slider">
  <div class="time-line__slider__items">
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
    <div class="time-line__slider__items__item"></div>
  </div>
  <div class="time-line__slider__axis time-line__slider__axis--x"></div>
</div>