<div class="time-line-preview__button"></div>

{{#if (or hint preview)}}
  {{#ember-wormhole to='time-line-preview'}}
    {{#if hint}}
      <div class="time-line-preview__hint">
        Press and Hold
      </div>
    {{/if}}

    {{#if preview}}
      <div class="time-line-preview__content">
        <h1>{{chapter.title}}</h1>
        {{chapter.description}}
      </div>
      <div class="time-line-preview__trigger">
        <div class="time-line-preview__trigger__indicator"></div>
        <div class="time-line-preview__trigger__label">
          Swipe down <div class="time-line-preview__trigger__label__small">to go to</div> {{chapter.location}}
        </div>
      </div>
    {{/if}}
  {{/ember-wormhole}}
{{/if}}
