<div class="time-line__slider">
  {{#each chapters as |chapter|}}
    {{time-line-item
      chapter=chapter
      size=size
    }}
  {{/each}}
  <div class="time-line__slider__axis time-line__slider__axis--x"></div>
</div>