// Settings
@import "settings.default";
@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.color";


// Tools
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-tools-widths/tools.widths";
// @import "tools.aliases";


// Generics
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";


// Base
@import "base.fonts";
@import "base.page";
@import "bower_components/inuit-page/base.page";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";
@import "base.links";


// Objects
@import "bower_components/inuit-layout/objects.layout";
@import "bower_components/inuit-buttons/objects.buttons";


// Components
@import "components/chapter-content";
@import "components/mapbox-map";
@import "components/object-detection";
@import "components/object-item";
@import "components/time-line-item";
@import "components/time-line-navigator";
@import "components/time-line-preview";
@import "components/time-line";


// Trumps
@import "bower_components/inuit-clearfix/trumps.clearfix";
// @import "trumps.widths";

.load-button {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: red;
}