// default colors
$red: #c32121;
$green: #33662d;

$white: #fff;
$gray-lighter: #ebebeb;
$gray-light: #9c9c9c;
$gray: #3f3f3f;
$gray-dark: #252525;
$gray-darker: #0c0c0c;



// default element colors
$active-item: $red;
$current-item: $green;


// inuit colors
$inuit-base-text-color: $gray-dark;
$inuit-base-background-color: $gray-lighter;

// moods styles
$moods: (
  default: (
    font: $inuit-base-text-color,
    timeline-background: $gray-lighter,
    timeline-item: $gray,
    timeline-progressbar: $gray-light,
    timeline-scrollbar: $gray-light,
    timeline-navigator: $gray-lighter,
    hotspot: $gray-lighter
  ),
  danger: (
    font: $gray-lighter,
    timeline-background: $gray-darker,
    timeline-item: $gray,
    timeline-progressbar: $gray-dark,
    timeline-scrollbar: $gray-darker,
    timeline-navigator: $gray-darker,
    hotspot: $gray-dark
  ),
  fear: (
    font: $gray-lighter,
    timeline-background: $gray-darker,
    timeline-item: $gray,
    timeline-progressbar: $gray-dark,
    timeline-scrollbar: $gray-darker,
    timeline-navigator: $gray-darker,
    hotspot: $gray-darker
  ),
  frustrated: (
    font: $inuit-base-text-color,
    timeline-background: $gray-lighter,
    timeline-item: $gray,
    timeline-progressbar: $gray-light,
    timeline-scrollbar: $gray-light,
    timeline-navigator: $gray-lighter,
    hotspot: $gray-light
  ),
  hope: (
    font: $inuit-base-text-color,
    timeline-background: $gray-lighter,
    timeline-item: $gray,
    timeline-progressbar: $gray-light,
    timeline-scrollbar: $gray-light,
    timeline-navigator: $gray-lighter,
    hotspot: $gray-lighter
  )
);