// default colors
$red: #c32121;
$green: #33662d;

$white: #fff;
$gray-lighter: #cbcbcb;
$gray-light: #9c9c9c;
$gray: #3f3f3f;
$gray-dark: #252525;
$gray-darker: #0c0c0c;



// default element colors
$active-item: $red;
$current-item: $green;


// inuit colors
$inuit-base-text-color: $gray-darker;
$inuit-base-background-color: $gray-lighter;

// neutral style
$timeline-item-default: $gray;
$timeline-progressbar-default: $gray-light;
$timeline-scrollbar-default: $gray-light;
$timeline-navigator-default: $gray-lighter;


// hope style


// fear style


// lost style