// Font Settings
$inuit-base-font-size:   16px;
$inuit-base-line-height: 24px;

$inuit-heading-size-1:  31px;
$inuit-heading-size-2:  21px;
$inuit-heading-size-3:  18px;
$inuit-heading-size-4:  16px;
$inuit-heading-size-5:  14px;
$inuit-heading-size-6:  16px;

$huge-font: 80px;
$small-font: 12px;

// Inuit tools.widths
$inuit-use-fractions: false;

// Inuit objects.layout
$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;

// Inuit objects.buttons
$inuit-btn-padding--small: 2px;
$inuit-enable-btn--small: true;

// transitions
$transition-default: all 0.3s ease-in-out;
$transition-slow: all 1s ease-in-out;

// moods
$moods-list: ('danger', 'hope', 'fear', 'lost');
