.admin-options {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0,0,0,0.6);
  z-index: 999;
  padding: 20px;
  color: #fff;

  .button {
    background: rgba($gray-lighter,1);
    color: $gray-darker;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;

    &--toggle {
      background: #ff0000;
    }

    &.true {
      background: #00ff00;
    }
  }
}