.chapter-hotspot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  cursor: pointer;

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 100% 100%;
    box-shadow: 0 0 8px rgba($gray-darker, 0.8);
    z-index: 4;
  }

  &--video &__icon {
    background-image: url('icons/hotspots/video.png');
  }

  &--image &__icon {
    background-image: url('icons/hotspots/image.png');
  }

  &--info &__icon {
    background-image: url('icons/hotspots/info.png');
  }

  &--audio &__icon {
    background-image: url('icons/hotspots/audio.png');
  }

  &--secondary.chapter-hotspot--video &__icon {
    background-image: url('icons/hotspots/video-secondary.png');
  }

  &--secondary.chapter-hotspot--image &__icon {
    background-image: url('icons/hotspots/image-secondary.png');
  }

  &--secondary.chapter-hotspot--info &__icon {
    background-image: url('icons/hotspots/info-secondary.png');
  }

  &--secondary.chapter-hotspot--audio &__icon {
    background-image: url('icons/hotspots/audio-secondary.png');
  }

  &__overlay {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 600px;
    background: $gray-dark;
    transition: $transition-default;
    box-shadow: 0 0px 40px rgba($gray-darker, 0.4);
    transform: translate(-50%, -50%) scale(0);
    z-index: 999;

    &__close {
      position: absolute;
      top: 0px;
      right: 10px;
      width: 30px;
      height: 30px;
      color: $white;
      z-index: 2;
      font-size: 35px;
    }

    &__media {
      box-shadow: 0 3px 10px -10px rgba($gray-darker, 0.2);
    }

    &__content {
      padding: 20px;
      @include inuit-font-size($small-font, false);

      &__subtitle {
        font-weight: bold;
      }

      &__title {
        margin-bottom: 10px;
      }

      &__source {
        margin-top: 10px;
      }
    }
  }

  &--open {
    z-index: 999;
  }

  &--open &__overlay {
    transform: translate(-50%, -50%) scale(1);
  }
}

.chapter-content {
  &--1 .chapter-hotspot {
    &--0 {
      transform: translate(350px, -270px);
    }

    &--1 {
      transform: translate(50px, 150px);
    }

    &--2 {
      transform: translate(390px, -220px);
    }

    &--3 {
      transform: translate(380px, 50px);
    }

    &--4 {
      transform: translate(200px, 240px);
    }
  }

  &--2 .chapter-hotspot {
    &--0 {
      transform: translate(-350px, -150px);
    }
  }

  &--3 .chapter-hotspot {
    &--0 {
      transform: translate(300px, 20px);
    }
  }

  &--4 .chapter-hotspot {
    &--0 {
      transform: translate(-500px, -60px);
    }
  }

  &--4 .chapter-hotspot {
    &--0 {
      transform: translate(-300px, -200px);
    }
  }

  &--7 .chapter-hotspot {
    &--0 {
      transform: translate(150px, -50px);
    }

    &--1 {
      transform: translate(0px, 150px);
    }
  }

  &--9 .chapter-hotspot {
    &--0 {
      transform: translate(170px, 80px);
    }
  }

  &--10 .chapter-hotspot {
    &--0 {
      transform: translate(100px, 0px);
    }
  }

  &--15 .chapter-hotspot {
    &--0 {
      transform: translate(100px, 40px);
    }

    &--1 {
      transform: translate(-250px, -80px);
    }

    &--2 {
      transform: translate(-180px, 100px);
    }
  }

  &--16 .chapter-hotspot {
    &--0 {
      transform: translate(-50px, -20px);
    }
  }

  &--17 .chapter-hotspot {
    &--0 {
      transform: translate(200px, 100px);
    }
  }

  &--18 .chapter-hotspot {
    &--0 {
      transform: translate(250px, 20px);
    }
  }

  &--19 .chapter-hotspot {
    &--0 {
      transform: translate(0px, -271px);
    }
  }

  &--20 .chapter-hotspot {
    &--0 {
      transform: translate(500px, -110px);
    }
  }

  &--22 .chapter-hotspot {
    &--0 {
      transform: translate(100px, -110px);
    }
  }

  &--23 .chapter-hotspot {
    &--0 {
      transform: translate(-500px, 110px);
    }
  }

  &--47 .chapter-hotspot {
    &--0 {
      transform: translate(80px, -250px);
    }
  }
}

@each $mood, $map in $moods {
  .chapter-content {
    &--#{$mood} .chapter-hotspot__overlay{
      background: map-get($map, hotspot)
    }
  }
}
