.chapter-navigation {
  position: absolute;
  top: 50%;
  z-index: 4;
  display: block;
  width: 150px;
  height: 400px;
  transition: $transition-default;
  background: {
    size: 29px 79px;
    repeat: no-repeat;
  };
  cursor: pointer;
  transform: translate(0, -50%);
  opacity: 1;

  &--prev {
    left: 0px;
    background: {
      image: url('icons/arrow-prev.png');
      position: center right 70px;
    }
  }

  &--next {
    right: 0px;
    background: {
      image: url('icons/arrow-next.png');
      position: center left 70px;
    }
  }

  &--hidden {
    opacity: 0;
  }

  &--hidden.chapter-navigation--prev {
    left: -150px;
  }

  &--hidden.chapter-navigation--next {
    right: -150px;
  }
}
