@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.chapter-close {
  position: absolute;
  top: 20px;
  left: 20px;
  background: {
    color: map-get(map-get($moods, default), timeline-background);
    image: url('textures/grain-30.png');
    size: 40px 40px;
  }
  color: map-get(map-get($moods, default), font);
  padding: 5px 20px;
  border-radius: 3px;
  animation-name: fadeOut;
  @extend %mono-font;
  animation-duration: 4s;
  text-align: center;
  box-shadow: 0 0px 40px rgba($gray-darker, 0.4);
  z-index: 10;
}

@each $mood, $map in $moods {
  .chapter-content--#{$mood} .chapter-close {
    background-color: map-get($map, timeline-background);
    color: map-get($map, font);
  }
}