.chapter-content {
  position: absolute;
  left: 0px;
  width: 600px;
  top: 100px;
  background: rgba(61, 61, 61, 0.9);
  color: #fff;
  padding: 50px;
  z-index: 2;

  &__item {
    &__gallery {
      .box {
        height: 100px;
        background: #fff;

        &--one {
          background: #834b4b;
        }

        &--two {
          background: #4b8359;
        }

        &--three {
          background: #4b7483;
        }

        &--four {
          background: #764b83;
        }
      }
    }

    &__description {
      text-align: left;
    }
  }
}

.slick-slider {
  margin-bottom: 0px;
}
