@keyframes minimalMovement {
    0% {left: 0;}
    50% {left: 10px;}
    100% {left: 0;}
}

@keyframes smallMovement {
    0% {left: 0;}
    50% {left: 30px;}
    100% {left: 0px;}
}

@keyframes upAndDown {
    0% {transform: translate(0,0);}
    5% {transform: translate(0,-1px);}
    10% {transform: translate(0,0);}
    20% {transform: translate(0,-1px);}
    25% {transform: translate(0,0);}
    30% {transform: translate(0,-1px);}
    35% {transform: translate(0,0);}
    40% {transform: translate(0,-1px);}
    45% {transform: translate(0,0);}
    70% {transform: translate(0,-1px);}
    75% {transform: translate(0,0);}
    100% {transform: translate(0,0);}
}

.chapter-content {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  transition: all 1s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__background {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 2;
    background-size: cover;
    opacity: 0.1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &__journal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    text-align: left;
    transform: translate(-650px, -200px);
    z-index: 3;

    &__date {
      @extend h2;
      opacity: 0.4;
    }

    &__header {
      margin: 15px 0 10px;

      &__number {
        display: inline-block;
        vertical-align: top;
        @include inuit-font-size($huge-font);
        @extend %mono-font;
        line-height: 1;
        padding-right: 15px;
      }

      &__separator {
        display: inline-block;
        height: 65px;
        width: 4px;
        background: map-get(map-get($moods, default), font);
        margin-top: 2px;
        margin-right: 20px;
      }

      &__title {
        display: inline-block;
        vertical-align: top;
        @extend h1;
        line-height: 1.2;
        width: 400px;
      }
    }

    &__description {

    }
  }

  &__weather {
    position: fixed;
    z-index: 2;
  }

  @each $mood, $map in $moods {
    &--#{$mood} {
      color: map-get($map, font);
    }

    &--#{$mood} &__journal__header__separator {
      background-color: map-get($map, font);
    }
  }



  // Custom Style of Chapter 2
  &--1 &__background {
    opacity: 0.5;
  }

  &--1 &__journal {
    width: 800px;
    transform: translate(-800px, -400px);
  }



  // Custom Style of Chapter 2
  &--2 &__background {
    opacity: 0.05;
  }

  &--2 &__journal {
    width: 550px;
    transform: translate(150px, 0px);
  }

  &--2 &__weather {
    top: 60px;
    left: 60px;
    width: 311px;
    height: 247px;
    background-image: url(images/weather/2.png);
    transform: rotate(-6deg);
  }



  // Custom Style of Chapter 3
  &--3 &__background {
    opacity: 0.3;
  }

  &--3 &__journal {
    transform: translate(-650px, -230px) rotate(-12deg);
  }



  // Custom Style of Chapter 4
  &--4 &__background {
    opacity: 0.2;
  }

  &--4 &__journal {
    width: 700px;
    transform: translate(0px, -30px);
  }

  &--4 &__weather {
    top: 60px;
    left: 60px;
    width: 311px;
    height: 247px;
    background-image: url(images/weather/2.png);
    transform: rotate(-6deg);
  }



  // Custom Style of Chapter 5
  &--5 &__background {
    opacity: 0.1;
    animation-name: minimalMovement;
    animation-duration: 8s;
  }

  &--5 &__journal {
    transform: translate(-700px, -350px);
  }

  &--5 &__weather {
    bottom: 190px;
    right: 60px;
    width: 311px;
    height: 247px;
    background-image: url(images/weather/2.png);
    transform: rotate(-1deg) skewX(30deg);
  }



  // Custom Style of Chapter 6
  &--6 &__journal {
    transform: translate(230px, 100px);
  }



  // Custom Style of Chapter 7
  &--7 &__journal {
    width: 600px;
    transform: translate(-753px, -224px);
  }



  // Custom Style of Chapter 8
  &--8 &__background {
    animation-name: upAndDown;
    animation-duration: 4s;
  }

  &--8 &__journal {
    width: 600px;
    transform: translate(-500px, -250px);
  }



  // Custom Style of Chapter 10
  &--10 &__background {
    opacity: 0.05;
    animation-name: minimalMovement;
    animation-duration: 8s;
  }

  &--10 &__journal {
    width: 600px;
    transform: translate(-700px, -350px);
  }



  // Custom Style of Chapter 14
  &--12 &__journal {
    transform: translate(-600px, 50px);
    width: 650px;
  }



  // Custom Style of Chapter 14
  &--14 &__journal {
    transform: translate(-700px, -350px);
  }



  // Custom Style of Chapter 15
  &--15 &__journal {
    transform: translate(0px, -250px);
  }



  // Custom Style of Chapter 16
  &--16 &__journal {
    transform: translate(-150px, 100px);
  }



  // Custom Style of Chapter 17
  &--17 &__journal {
    background: {
      color: #ebebeb;
      image: url(textures/grain-10.png);
    }
    padding: 45px 100px 43px 300px;
    width: 952px;
    transform: translate(-971px, -245px);
  }



  // Custom Style of Chapter 18
  &--18 &__journal {
    width: 750px;
    transform: translate(-820px, -200px);
  }



  // Custom Style of Chapter 19
  &--19 &__journal {
    transform: translate(-400px, -100px);
  }



  // Custom Style of Chapter 20
  &--20 &__journal {
    background: {
      color: #ebebeb;
      image: url(textures/grain-10.png);
    }
    padding: 30px;
    width: 605px;
    transform: translate(-668px, -236px);
  }



  // Custom Style of Chapter 22
  &--21 &__journal {
    width: 750px;
    transform: translate(-50px, -75px) rotate(23deg);
  }



  // Custom Style of Chapter 22
  &--22 &__journal {
    width: 600px;
    transform: translate(-700px, -200px);
  }



  // Custom Style of Chapter 23
  &--23 &__journal {
    width: 600px;
    transform: translate(-50px, -100px);
  }



  // Custom Style of Chapter 24
  &--24 &__journal {
    width: 600px;
    transform: translate(100px, -100px);
  }



  // Custom Style of Chapter 24
  &--47 &__journal {
    width: 600px;
    transform: translate(-700px, -150px);
  }
}
