.chapter-content {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  display: none;

  &__journal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    text-align: left;
    transform: translate(-650px, -200px);
    z-index: 2;

    &__date {

    }

    &__header {
      display: table;
      vertical-align: top;
      width: 400px;

      &__number {
        display: table-cell;
        vertical-align: top;
        @include inuit-font-size($huge-font);
        @extend %mono-font;
        line-height: 1;
        padding-right: 15px;
      }

      &__title {
        display: table-cell;
        vertical-align: top;
        @extend h1;
        line-height: 1.2;
      }
    }

    &__description {

    }
  }

  &__weather {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 2;
  }

  &--4 &__journal {
    transform: translate(100px, -50px);
  }

  &--5 &__journal {
    transform: translate(100px, 50px);
  }

  &--6 &__journal {
    transform: translate(-600px, -50px);
  }

  &--7 &__journal {
    transform: translate(-600px, -50px);
  }
}
