.mapbox-map {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;

  .mapboxgl-canvas-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .mapboxgl-control-container {
    display: none;
  }

  &--overview {
    position: fixed;
    top: -300px;
    left: auto;
    right: 20px;
    bottom: auto;
    width: 280px;
    height: 280px;
    z-index: 2;
    box-shadow: 0 0 10px rgba($gray-darker, 0.4);
    opacity: 0;
    transition: $transition-default;
  }

  &--overview.mapbox-map--detail {
    top: 20px;
    opacity: 1;
  }
}
