.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: $green;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: $green;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: $green;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: $green;
}

.mapboxgl-popup {
  z-index: 999;
}

.mapboxgl-popup-close-button {
  font-size: 32px;
  right: 15px;
}

.mapboxgl-popup-content {
  background: $green;
  color: $white;
  width: 430px;
  padding: 30px;

  &__location {
    @extend h4;
    opacity: 0.4;
  }

  &__header {
    margin: 5px 0 0px;

    &__number {
      display: inline-block;
      vertical-align: top;
      @include inuit-font-size(55px);
      @extend %mono-font;
      line-height: 1;
      padding-right: 15px;
    }

    &__separator {
      display: inline-block;
      height: 43px;
      width: 4px;
      background: $white;
      margin-top: 2px;
      margin-right: 20px;
    }

    &__title {
      display: inline-block;
      vertical-align: top;
      @extend h2;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  &__content {
    @include inuit-font-size($small-font);
  }
}
