.mapbox-map {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;

  .mapboxgl-canvas-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .mapboxgl-control-container {
    display: none;
  }

  &--overview {
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    bottom: auto;
    width: 480px;
    height: 300px;
    z-index: 2;
    opacity: 0;
    transition: $transition-slow;
  }

  &--overview.mapbox-map--detail {
    opacity: 1;
  }
}
