.object-test {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 800;
  background: rgba(31, 31, 31, 0.9);
  transform: translate(-50%, -50%);

  &__buttons {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 20px;

    &__button {
      @extend %btn;
    }
  }
}