.overlay-help {
  &__button {
    position: fixed;
    top: 60px;
    left: 60px;
    z-index: 998;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $gray-dark;
    transition: $transition-default;
    color: $white;
    text-align: center;
    padding: 10px 10px 4px 11px;
    @include inuit-font-size(24px);
    @extend %mono-font;
  }

  &--overview &__button {
    background-color: $gray-lighter;
    color: $gray;
  }
  &__content {
    position: fixed;
    top: 60px;
    left: 60px;
    width: 40px;
    height: 40px;
    z-index: 997;
    visibility: hidden;
    border-radius: 50%;
    background-color: rgba($gray-dark, 0.9);
    background-size: 2300px 2300px;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;

    &__element {
      position: fixed;
      top: 50%;
      left: 50%;
      transition-delay: 300;
      transition: $transition-default;
      color: $white;
      opacity: 0;
      width: 600px;
      text-align: center;
      transform: translate(-50%, -50%);

      &__headline {
        @extend h1;
      }

      &__button {
        background: {
          color: $gray-lighter;
        }
        color: $gray;
        padding: 5px 15px;
      }
    }
  }

  &--overview &__content{
    top: -600px;
    left: -200px;
    width: 2300px;
    height: 2300px;
    visibility: visible;

    &__element {
      opacity: 1;
    }
  }
}
