.overlay-help {
  &__button {
    position: fixed;
    top: 60px;
    left: 60px;
    z-index: 998;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $gray-dark;
  }

  &__content {
    position: fixed;
    top: 80px;
    left: 80px;
    width: 0px;
    height: 0px;
    z-index: 997;
    visibility: hidden;
    border-radius: 50%;
    background-image: url(images/help.png);
    background-size: 2300px 2300px;
    background-repeat: no-repeat;
    transition: $transition-default;
  }

  &--overview &__content{
    top: -600px;
    left: -200px;
    width: 2300px;
    height: 2300px;
    visibility: visible;
    transition: $transition-default;
  }
}