.preview-test {
  position: relative;
  display: inline-block;
  text-align: center;

  &__button {
    position: relative;
    @extend %btn;
    @extend %btn--small;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    &.active {
      background: #fff;
      color: rgba(74, 142, 194, 1);
    }
  }

  &__hint {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 15px));
    background: #fff;
    padding: 5px 10px;
    width: 170px;
    text-align: center;
    display: none;
    border-radius: 3px;
    color: #333;
  }

  &__content {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 15px));
    padding: 10px;
    width: 400px;
    z-index: 2;
    display: none;
  }

  &__trigger {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 45px);
    padding: 10px;
    width: 120px;
    z-index: 2;
    display: none;

    @keyframes moveFade {
        0% {
          opacity: 1;
          top: 0px;
        }
        50% {
          opacity: 0;
          top: 100px;
        }
        100% {
          opacity: 0;
        }
    }

    &__indicator {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, -100%);
      background: rgba(255,255,255,0.7);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      animation: moveFade 2s infinite;
    }

    &__label {

      &__small {
        font-size: 12px;
      }
    }
  }

  &__background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(74, 142, 194, 0.9);
    display: none;
    z-index: 1;
  }
}