.time-line-item {
  position: absolute;
  bottom: 0px;
  height: 100%;

  &__line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1px;
    height: 90%;
    background: #222;
  }
  
  &__content {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 40px;
    height: 40px;
    transform: translate(-50%, 0);
    background: #ddd;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px #333;
  }
}