.time-line-item {
  position: absolute;
  bottom: 0px;
  height: 100%;

  &__line {
    position: absolute;
    bottom: 0px;
    width: 1px;
    height: 100%;
    background: $timeline-item-default;
  }

  &__dot {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: {
      color: $timeline-item-default;
      image: url('textures/grain-30.png');
      size: 40px 40px;
    }
    transform: translate(-50%, 0);
  }
}