.time-line-item {
  position: absolute;
  height: 100%;
  width: 21px;
  margin: 0 2px 0 0;

  &.active {
    background: #ff0000;
  }

  &__line {
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 1px;
    height: 100%;
    background: #222;
  }
}