<div class="content">
    <div class="content__item">
      <div class="content__item__gallery">
        {{#slick-slider arrows=false}}
          <div class="box box--one"></div>
          <div class="box box--two"></div>
          <div class="box box--three"></div>
          <div class="box box--four"></div>
        {{/slick-slider}}
      </div><!--
      --><div class="content__item__description">
        <h1>{{model.title}}</h1>
        <p>
          {{model.description}}
        </p>
      </div>
    </div>
</div>