{{#object-detection}}
  {{outlet}}

  {{time-line
    chapters=model.chapters
  }}

  {{mapbox-map
    chapters=model.chapters
  }}
{{/object-detection}}
<div class="load-button" {{action 'addNewStory'}}>Load Data</div>
